# Data Processing
pandas
numpy
pyarrow
fastparquet

# Distributed Processing
pyspark==3.5.1

# Workflow Orchestration
prefect==2.14.0
griffe==0.38.0

# ML & Analytics
scikit-learn

# Data Validation
pydantic

# Application UI
streamlit

# Utilities
requests
python-dotenv

# Data Quality & Logging
loguru